body {
    background-color: #000000;
}

h1 {
    border: 5px ridge rgb(255, 255, 255)r;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

p {
    font-size: 25px;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    text-align: center;
}
img{width: 500px;
margin-left: 37%;
border: 5px ridge rgb(255, 255, 255);
}